# Ignore python cache
__pycache__/
*.pyc

# Ignore environment variables and secrets`
config/
.env
.ipynb_checkpoints/

# Ignore data files 
data/
venv/
.vscode/
run_pipeline.py
run_fpl.bat
tests/
models/
Notebooks/figures/
outputs/
