# Ignore python cache
__pycache__/
*.pyc

# Ignore environment variables and secrets`
config/
.env

# Ignore data files (too large/private for git)
data/
venv/
.vscode/
run_pipeline.py
run_fpl.bat
tests/
models/
